<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Dan Hixon Codes" />
<meta name="keywords" content="life,code,software,development,photography" />
<meta name="author" content="Dan Hixon" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="alternate" type="application/atom+xml" href="http://y.iooo.info/atom.xml" />

<title>{{ page.title }} - 岩岩作文</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>孙<span class="fade">玉岩</span></a></h1>
		<div class="slogan">
				<a href="/archive.html" class="pink">文章{存档}</a> :|: 
				<a href="/about.html" class="green">介绍{我}自己</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    联系我:<a href="xmpp:y@iooo.info">Gtalk</a> ||
    <a href="skype:y@iooo.info">Skype</a>

<p>&copy; 2011 <a href="/about.html">YanYan Sun</a>

</div>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12519440-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>

